@import "../base/mixin";
header.dj {
        @include general (#3c9f28, 1px solid #ccc,10px 0);
        background-color: #3c9f28 !important; /* esto no supe como resolverlo*/
        .navbar-brand {
        font-size: 12px;
        font-weight: bold;
        color: #ffffff;
        &:hover {
            color: #000;
        }
        }
        .logo {
            animation: spin 2s ease-in-out infinite;
        }
        @keyframes spin {
            0% {
                transform: translateX(0) scale(1);
            }
            50% {
                transform: translateX(15px) scale(1.5);
            }
            100% {
                transform: translateX(0) scale(1);
            }
        }
        .navbar-nav {
        margin-left: 20px;
        .nav-link {
            font-size: 18px;
            width: max-content;
            font-weight: bold;
            color: #fffafa;
            &:hover {
            color: #000000;
            }
        }
        }
        .navbar-toggler {
        border: none;
        background-color: transparent;
        .navbar-toggler-icon {
            background-image: url('../../imagenes/Recurso-5cabeza-muñeco.png');
            width: 50px;
            height: 50px;
        }
        &:hover {
        background-color: transparent;
        }
        &:focus {
                box-shadow: none;
        }
        }
    }


