@import "../base/listas";
    header.dj {
        background-color: #222;
        padding: 0 0;
        .navbar {
            justify-content: space-between;
            .navbar-brand {
            .logo {
                width: 150px;
                height: 150px;
                transition: all 0.3s ease-in-out;
                &:hover {
                transform: scale(1.1);
                }
            }
            }
            .nav-item {
            a {
                color: black;
                font-size: 18px;
                text-transform: uppercase;
                &:hover {
                color: white;
                }
            }
            &.active {
                a {
                color:nth($colores ,7);
            }
            }
            }
            .navbar-toggler {
            background-color: white;
            }
        }
        
        }
        
        