@import "../base/variables";


.solerro  {
  background-color:#df7016;
  color: #ffffff;
  padding: 2px 2px;
  font-size: 24px;
}

.logo {
    width: 100px;
    height: 100px;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-nav .nav-item {
    margin-left: 20px;
  }
  .bg-primary-subtle {
    background-color: white !important;
    font-family: 'Open Sans', sans-serif;
    color: #df7016;
    text-decoration: none;
  }
  @media (max-width: 991px) {
    .navbar-nav {
      margin-top: 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  
    .navbar-nav .nav-item {
      margin: 0;
      flex-basis: 33.33%;
    }
  }
  

/* Fin header */

.col-md-6 {

  overflow: hidden; /* ocultar el texto que sobrepasa el tamaño de la columna */
  text-overflow: ellipsis; /* agregar puntos suspensivos en el texto ocultado */
 /* evitar el salto de línea del texto */
}

.col-md-6 p {
  font-size: 1em; /* establecer tamaño de fuente inicial */
  transition: font-size 0.2s ease-in-out; /* agregar transición al cambiar el tamaño de fuente */
}

.col-md-6:hover p {
  font-size: 1.2em; /* aumentar el tamaño de fuente al pasar el cursor por encima */
}
